/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*--------------------------
 全体
 ---------------------------*/
body {
	font-family: sans-serif;
	color: black;
}

header {
	height: 65px;
	text-align: center;
}

aside {
	line-height: 70px;
	text-align: center;
}

footer {
	line-height: 3em;
	text-align: center;
	background: #000000;
}

/*ブロック要素を縦中央配置にする*/
.table{
    height: 65px;
    width: 600px;
    display: table;
    text-align: center;
}
.table > *{
    display: table-cell;
    vertical-align: middle;
}
/****************************/

/*--------------------------
 リンク設定
 ---------------------------*/
a{color:#555;text-decoration:none;}
a:hover{color:#1f1f1f;}
a:active, a:focus{outline:0;}

/*--------------------------
 ヘッダー
 ---------------------------*/
header img{
	width: auto;
   	max-height: 60px;
}

/*--------------------------
 メインナビゲーション
 ---------------------------*/
#mainBanner{
	margin:30px auto;
	padding:0;
	width:100%;
	position:relative;
	line-height:0;
}

#mainBanner img{
	max-width:100%;
	height:auto;
	padding:1px;
	border:1px solid #ccc;
	background:#eee;
}

.slogan{
	position:absolute;
	max-width:100%;
	height:auto;
	bottom:0;
	left:0;
	padding:5px 10px;
	line-height:1.4;
	z-index:100;
}

.slogan h2{
	padding-bottom:5px;
	color:#333;
	font-size:20px;
}

.slogan h3{
	font-size:14px;
	color:#666;
}

/* サブページ スローガンの背景・黒*/
.subImg .slogan{left:auto;right:0;}
.subImg .slogan h2{color:#fff;}
.subImg .slogan h3{color:#ccc;}

/*--------------------------
 注目記事(コンテンツ上のスライドショー)	
 ---------------------------*/
#spotLight{
	width: auto;
	height: 400px;
}

/*--------------------------
 ニュース
 ---------------------------*/
#news{
	margin-top: 1em;
	
}
#news article {
	line-height: 2em;
}
#news h1{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 1em;
}
#news time,h2{
	font-size: 15px;
}

/*--------------------------
 サイドバー
 ---------------------------*/
#sideBanner{
	margin-top: 2em;
	text-align: right;

}
#sideBanner img{

}

/*--------------------------
 フッター
 ---------------------------*/
 footer p{
 	vertical-align: center;
 	text-align: center;
 	font-size: 12px;
 	color: #FFFFFF;
 }

/*--------------------------
 レスポンシブ・ウェブデザイン	
 ---------------------------*/
/* PC用 */
@media only screen and (min-width:960px){
	nav div.panel{
		display:block !important;
		float:right;
		padding-top: 15px;
	}

	a#menu{display:none;}

	nav#mainNav ul{
		float:right;
		overflow:hidden;
	}

	* html nav#mainNav ul{height:1%;}

	nav#mainNav ul li{
		float:left;
		margin:0 5px;
		text-align:center;
	}

	nav#mainNav ul a{
		font-size:16px;
		display:block;
		padding:5px;
		border-bottom:3px solid #fff;
	}

	nav#mainNav ul span{
		color:#aaa;
		font-size:10px;
	}

	nav#mainNav ul li.active a,nav#mainNav ul a:hover{border-color:#1f1f1f;}
	
	#mainBanner img{max-width:936px;}
}